
<div class="d-flex justify-content-center align-items-center">
 
    <div class="h-75">
    <h2 class="my-5">Olá, faça o login com o Google!</h2>

        <div class="row">
            <!-- <img src="../../../assets/Wavy_Gen-01_Single-07.jpg" class="img-fluid w-25 h-25" alt=""> -->
            <img src="../../../assets/11668571_20943645.svg" class="img-fluid" style="height: 350px;" alt="">
        </div>
        <div>
            <app-button (click)="login()">
                Login com o Google
            </app-button>
        </div>

        <a href="https://www.freepik.com/free-vector/demand-analysts-shaking-hands-from-laptops-screens-planning-future-demand-demand-planning-demand-analytics-digital-sales-forecast-concept-illustration_11668571.htm#&position=14&from_view=author&uuid=8e5cf7bc-2d99-47e9-8154-62cc113e18cd" class="float-start">Image by vectorjuice</a>
       
    </div>
   

</div>


