/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color : #fa4d73;
    --second-color: #fa5b70;
}


.container-img {
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -150px;

}



a {
    text-decoration: none;
    cursor: pointer;


}
